<div class="mx-auto max-w-8xl px-6 py-6">
  <!-- Sidebar fijo -->
  <aside
    class="fixed inset-y-0 left-0 w-64 bg-white border-r border-gray-200 shadow-sm z-20">
    <div class="h-full flex flex-col">
      <app-sidebar-nav class="p-3"></app-sidebar-nav>

      <!-- Logout pegado abajo -->
      <div class="mt-auto p-3">
        <button
          (click)="logout()"
          class="w-full px-4 py-2 bg-red-600 text-white rounded-lg hover:bg-red-700 transition flex items-center justify-center gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
            viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H5a2 2 0 01-2-2V7a2 2 0 012-2h6a2 2 0 012 2v1" />
          </svg>
          <span>Logout</span>
        </button>
      </div>
    </div>
  </aside>

  <!-- Contenido empujado a la derecha del sidebar -->
  <div class="md:ml-64"> <!-- igual a w-64 del aside -->
    <div class="grid grid-cols-1 md:grid-cols-12 gap-6">
      <section class="md:col-span-12">
        <router-outlet></router-outlet>
      </section>
    </div>
  </div>
</div>
